
<div class="container">

<header>{% if page.img %}
<table style='height:200px;'><tr> <td width=86%><h1 
style='margin-right:0px;'>{{ page.title }}</h1></td><td> <img width=120px 
src='{{ page.img }}' title='Erdem Alkım' alt='Photo of Erdem Alkım'/></td> 
</tr>

</table>  {% else %}
<table style='height:200px;'><tr> <td 
style='width:800px;vertical-align:bottom;'>
<h1 style='margin-right:0px;'>{{ page.title }}</h1></td> </tr>
</table>
{% endif %}
</header>
      
      <section id="content">
    {{ content }}
  </section>
</div>
